// -----------------------------//
//          VARIABLES           //
// -----------------------------//

$cookies-message__bgc: $white;
$cookies-message__text: $color1;
$cookies-message__link: $color5;
$cookies-message__link--hover: $color1;

// -----------------------------//
//            STYLES            //
// -----------------------------//

.cookies-message {
	padding: 0px 15px;
	font-size: 13px;
	line-height: 1.4;
	color: $cookies-message__text;
	text-align: center;
	position: fixed;
	bottom: 0px;
	background-color: $cookies-message__bgc;
	width: 100%;
	z-index: 99999;
	@include flex-center;
	flex-wrap: wrap;

	&__link {
		font: {
			weight: 700;
		}
		color: $cookies-message__link;
		text-decoration: none;

		&:hover {
			color: $cookies-message__link--hover;
		}
	}

	a.cookies-message__btn {
		padding: 7px 15px;
		margin: 0 10px;
		min-width: 0;
		height: auto;
	}
}