// -----------------------------//
//          VARIABLES           //
// -----------------------------//

$header__bgc: $header;
$header--scrolled__bgc: $color3;

// -----------------------------//
//            STYLES            //
// -----------------------------//

.header {
	background: $header__bgc;
	height: auto;
	top: 0;
	z-index: 999;
	transition: all 0.2s ease-in-out;
	opacity: 1;
	padding: 5px 0;
	max-width: 1920px;
	margin: 0 auto;

	@include sm {
		padding: 5px 15px;
	}

	@include lg {
		padding: 15px 1vw;
	}

	@include xl {
		padding: 20px 3.5vw;
	}

	@include xxl {
		padding: 25px 7vw;
	}

	@include xxxl {
		padding: 36px 10vw;
	}

	&.scrolled {
		background-color: $header--scrolled__bgc;

		@include lg {
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;

			a.btn {
				height: 3rem;
			}

			.header__logo {
				max-width: 190px;
			}
		}
	}

	&__container {
		z-index: 10;
	}

	&__logo {
		height: auto;
		width: 100%;
		max-width: 251px;
		@include transition;
	}
}