// -----------------------------//
//          VARIABLES           //
// -----------------------------//

// -----------------------------//
//            STYLES            //
// -----------------------------//

.removing-viruses {
    .services {
        margin: 7rem 0;
    }

    .services-bubble {
        font: {
            size: 1.5rem;
        }
    }

    .intro .section__heading,
    .services .section__heading {
        font: {
            weight: 500;
        }
    }

    .how-it-works--viruses .how-it-works__text {
        line-height: 1.4;
    }

    .how-it-works--viruses .how-it-works__icon {
        &--1 {
            background-image: url('../img/szybka-naprawa-icon.png');
            background-size: 55%;
        }

        &--2 {
            background-image: url('../img/skutecznosc-icon.png');
            background-size: 53.5%;
        }

        &--3 {
            background-image: url('../img/wspolpraca-icon.png');
            background-size: 60%;
        }

        &--4 {
            background-image: url('../img/backup-icon.png');
            background-size: 55%;
        }

        &--5 {
            background-image: url('../img/gwarancja-icon.png');
            background-size: 55%;
        }

        &--6 {
            background-image: url('../img/opieka-icon.png');
            background-size: 53.5%;
        }
    }

    .how-we-remove-viruses {
        @extend .pricing;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: 0;
        color: #fff;

        .section__heading {
            color: #fff;
        }
    }

    .how-we-remove-viruses__header {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .how-we-remove-viruses__ul {
        @extend .intro__ul;
        max-width: 960px;
        margin-inline: auto;

        li {
            font: {
                size: 1.125rem;
            }
            display: flex;
            align-items: flex-start;
            margin-bottom: 2rem;

            &::before {
                content: url('../img/li.png');
                display: inline-flex;
                align-self: flex-start;
                width: 1.75rem;
                height: 1.75rem;
                margin-top: 0;
                margin-right: 1.1rem;
                filter: hue-rotate(180deg);
            }
        }
    }

    .cta {
        p,
        ul {
            font: {
                size: 1.125rem;
            }

            max-width: 960px;
            margin-inline: auto;
        }

        .btn {
            display: block;
            margin-inline: auto;
        }
    }

    .contact__address {
        background-image: url('../img/contact-address-viruses-bg.png');
        background-position: center top;
        background-size: contain;
    }

    .wpcf7 input[type='file'] {
        cursor: pointer;
        display: block;
        width: 100%;
        border: dashed 1px #b3cbd7;
        padding: 1rem;
        border-radius: 5px;
    }

    .virus-agreement > p:first-child {
        margin-bottom: 0;
    }
}
