// -----------------------------//
//          VARIABLES           //
// -----------------------------//

$header: transparent;
$background: #fff;
$footer: transparent;

$color1: #34667F;
$color2: #003F5E;
$color3: #0073AA;
$color4: #19B2F8;
$color5: #09B891;
$color6: #0BC49A;
$color7: #DBF6F1;
$color8: #CCE2ED;
$color9: #E6F1F7;
$color10: #F0F1F5;
$color11: rgba(167,179,185,0.8);
$color12: #E88F1C;

$white: #fff;
$black: #000;

$text--dark: #003F5E;
$text--light: #fff;

// -----------------------------//
//            STYLES            //
// -----------------------------//

.color1 {
	color: $color1;
}

.color2 {
	color: $color2;
}

.color3 {
	color: $color3;
}

.color4 {
	color: $color4;
}

.color5 {
	color: $color5;
}

.color6 {
	color: $color6;
}

.color7 {
	color: $color7;
}

.color8 {
	color: $color8;
}

.color9 {
	color: $color9;
}

.color10 {
	color: $color10;
}

.color11 {
	color: $color11;
}

.color12 {
	color: $color12;
}